extend layout

block content
  .container-fluid.bgHeader
    .container.headerText
      h1 #{tournament.tournament}
      #tourId(style='display:none') #{tournament._id}
  .container.bgMain
    br
    if(matches.length > 0)
      .container#menu
        .btn-group
          .button.btn.btn-info#btnLeaderboard Leaderboard
          .button.btn.btn-info#btnMatches Matches
          .button.btn.btn-info#btnSettings Settings
          if(user)
            if(user.username==tournament.username)
              .button.btn.btn-info#btnAddMatch(title='Add match') 
                i.oi.oi-plus
      br
      .container#leaderboard Calculating leaderboard...
      br
    else
      div There are no matches added to this tournament.