extend layout

block content
  .container.bgHeader.pattern
    .container.headerText
      h1 #{tournament.tournament}
      #tourId(style='display:none') #{tournament._id}
  .container.bgMain
    br
    .container#menu
      .btn-group
        .btn.btn-info#btnLeaderboard Leaderboard
        .btn.btn-info#btnMatches Matches
        .btn.btn-info#btnSettings Settings
        if(user)
          if(user.username==tournament.username)
            .btn.btn-info#btnAddMatch(title='Add match') 
              i.oi.oi-plus
    br
    .container#leaderboard 
      if(matches.length > 0)
        div Calculating leaderboard...
        br
      else
        div There are no matches added to this tournament.