extends layout

block content
  .container-fluid.bgHeader
    .container.headerText
      h1 #{title}
  .container.bgMain
    br
    p Search for a players name to find recent matches. (case sensitiv)
    p
    #lookupMatch