extends layout

block content
  .container-fluid.bgHeader
    .container.headerText
      h1 Public leagues
  .container.bgMain
    br
    if(tournaments.length>0)
      table.table
        thead.thead-gold
          tr
            th League name
            th Administrator
            th #matches
        each tournament in tournaments
          tr
            td
              a(href='/tournaments/edit/'+tournament._id) #{tournament.tournament}
            td #{tournament.username}
            if tournament.matches
              td #{tournament.matches.length}
            else
              td 0
