extend layout

block content
  .container.bgHeader.pattern
    .container.headerText
      h1.page-header Log in
  .container.bgMain
    br
    p Please login
    form(method='post', action='/users/login')
      .form-group
        label Username
        input.form-control(name='username', type='text', placeholder='Enter username')
      .form-group
        label Password
        input.form-control(name='password', type='password', placeholder='Enter password')
      input.btn.btn-info(type='submit', name='submit', value='Login')