doctype html
html(lang = 'en')
  head
    title Welcome
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#bodyNBG()
    script
      | console.log(!{JSON.stringify(data)})
    script(src='/javascripts/script.js')
    