/*@import url('https://fonts.googleapis.com/css?family=exo');*/

div.success {
  padding:15px;
  margin-bottom:20px;
  border: 1px solid transparent;
  /*color: #a76c52;
  background-color:#f69e78;
  border-color:#a76c52;*/
  color: #fff;
  background-color: #f69e78;
  background-image: linear-gradient(to top right, #f69e78, #a76c52);
}

div.alert, div.error {
  padding:15px;
  margin-bottom:20px;
  border: 1px solid transparent;
  /*color: #a94442;
  background-color:#f2dede;
  border-color:#ebccd1;*/
  
  color: #fff;
  background-color: #f69e78;
  background-image: linear-gradient(to top right, #f69e78, #a76c52);
}

.mapIcon{
  filter: hue-rotation(180deg);
}

.hand{
  cursor:pointer;
}

body:not(#bodyNBG){
  background-image:
    linear-gradient(#bcbcbc 1px, transparent 1px),
    linear-gradient(90deg, #bcbcbc 1px, transparent 1px),
    linear-gradient(to right, #bcbcbc, #e4e4e4 20%, #e4e4e4 80%, #bcbcbc);
  background-size: 5px 5px, 5px 5px, 100% 100%;
  background-position: -1px -1px, -1px -1px, -1px -1px;
  overflow-y:scroll;
}


/*
header sand - rgb(169,137,51)
light brown - rgb(151,116,62)
dark brown - rgb(108,75,22)
break line - rgb(71,56,30)
*/

:root{
  --cell_opascity: 90%;
}

#bodyNBG{
  height:100vh;
}
.nbg{
  font-family:'Exo';

}
.nbg .row{
  font-size:14pt;
  margin-left:0;
  margin-right:0;
}
.nbg .stats{
  width:50%;
}

.nbg .leaderboard{
  float:left;
}

.nbg .teamName{
  float:left;
  font-size:10pt;
  vertical-align:center;
}

.nbg .hide{
  display:none;
}

.nbg .header{
  border:1pt solid black;
  background-color:rgb(169,137,51,var(--cell_opascity));
  margin:0pt 0pt;
  padding:6pt;
  color:black;
}
.nbg .name{
  border:1pt solid black;
  background-color:rgb(151,116,62,var(--cell_opascity));
  margin:0pt 0pt;
  padding:5pt;
  color:white;
}
.nbg .score{
  border:1pt solid black;
  background-color:rgb(108,75,22,var(--cell_opascity));
  margin:0pt 0pt;
  padding:5pt;
  color:white;
}
.nbg .breakline{
  background-color:rgb(71,56,30);
  margin:0pt 3pt;
  height:4pt;
}

.matchList{
  display:table;
  padding-left:20pt;
}
.matchList div{
  float:left;
  padding-left:20pt;
}

#leaderboard{
  padding:0pt;
}

#matches{
  padding:0pt;
}

.bgNavBarCont{
  color: #fff;
  /*background-color: #c4c4c4;*/
  /*background-image: linear-gradient(to top right, #c4c4c4, #535150);*/
  border: 0px solid black;
  padding-bottom:0px;
}

.bgNavBar{
  color: #000;
  background-color: #fff;
  /*background-image: linear-gradient(to top right, #c4c4c4, #535150);*/
  border: 0px solid #535150;
  margin-bottom:0px;
  border-bottom-width:0px;
  box-shadow:0px 0px 5px 1px #888;
}
 
.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: #fff;
  background-image: linear-gradient(to top right, #c4c4c4, #535150);
}
 
.bgHeader{
  height: 100%;
  background-image: linear-gradient(to top right, #55bab6, #4a706f);
  padding-top:50px;
  padding-bottom:25px;
  box-shadow:0px 5px 10px 1px #888;
  z-index:2;
  position: relative;
}

.headerText{
  color: $fff;
  z-index:2;
  position: relative;
}

.bgMain{
  background-color:#fff;
  border:0px solid #535150;
  border-top-width:0px;
  border-bottom-width:0px;
  padding-bottom:50px;
  box-shadow:0px 0px 10px 1px #888;
  z-index:1; 
}

.bgFooter{
  height: 75px;
  background-image: linear-gradient(to top right, #55bab6, #4a706f);
  color:#fff;
  box-shadow:0px 5px 10px 1px #888;
  z-index:2;
  position: relative;
}

.table .thead-gold {
  color: #fff;
  background-color: #c4c4c4;
  background-image: linear-gradient(to top right, #c4c4c4, #535150);
  border: 0px solid black;
}

.smal{
  width:50%;
  margin: auto;
}

#event.active{
  color: #fff;
  background-color: #f69e78;
  background-image: linear-gradient(to top right, #f69e78, #a76c52);
  border-color: #a76c52;
}

#event.btn i.oi-plus{
  display:inline;
}

#event.btn.active i.oi-plus{
  display:none;
}

#event.btn i.oi-minus{
  display:none;
}

#event.btn.active i.oi-minus{
  display:inline;
}

/*a.nav-link{
  color: #fff;
}*/

/*
  green
  color: #fff;
  background-color: #3c8582;
  background-image: linear-gradient(to top right, #3c8582, #234b4a);
  border-color: #234b4a;
  
  green - light
  color: #fff;
  background-color: #80c4c2;
  background-image: linear-gradient(to top right, #80c4c2, #4a706f);
  border-color: #4a706f;
  
  blue
  color: #fff;
  background-color: #17a2b8;
  background-image: linear-gradient(to top right, #17a2b8, #094750);
  border-color: #094750;
  
  grey medium
  color: #fff;
  background-color: #c4c4c4;
  background-image: linear-gradient(to top right, #c4c4c4, #535150);
  border: 0pt solid black;
  
  red
  color: #fff;
  background-color: #dc3545;
  background-image: linear-gradient(to top right, #dc3545, #6b1a21);
  border-color: #6b1a21;
  
  red - light
  color: #fff;
  background-color: #ec838d;
  background-image: linear-gradient(to top right, #ec838d, #8e5056);
  border-color: #8e5056;
  
  orange
  color: #fff;
  background-color: #f65913;
  background-image: linear-gradient(to top right, #f65913, #792d0b);
  border-color: #792d0b;
  
  orange - light
  color: #fff;
  background-color: #f69e78;
  background-image: linear-gradient(to top right, #f69e78, #a76c52);
  border-color: #a76c52;
*/

/*--- Action map ---*/

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #55bab6;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #55bab6;
  cursor: pointer;
}

input {
  width:80%;
}

#inputPath, #username{
  width:50%;
  float:left;
}

.fl{
  float:left;
}
.fr{
  float:right;
}
.w50{
  width:50%;
}

#actionmap {
  width: 800px;
  height: 800px;
  float:left;
}

#info-box {
  float:left;
}

#actionmap svg {
  width: 100%;
  height: 100%;
}

.playerrect rect{
  /*fill: #2299dd;*/
  width: 100px;
  height: 30px;  
}
.playerrect text{
  fill: #fff;
  font-size: 100px;
  y:100px;
  text-anchor: middle;
  alignment-baseline: middle;
  transform: translate(0, 50);
}

.mapCard:hover{
  background-color:#c5c5c5;
  border:1px solid #c5c5c5;
}

.btnClear{
  background-color:transparent;
  border:none;
  cursor:pointer;
  text-decoration:none;
  font-weight:bold;
}
.btnClear:focus{
  outline:none;
}


.mapIcon{
  filter: invert(1) brightness(0);
}

/*.Desert_Main{
  filter:sepia() saturate(10000%) hue-rotate(300deg);
}

.Erangel_Main{
  filter:sepia() saturate(10000%) brightness(40%) hue-rotate(90deg);
}

.Savage_Main{
  filter:sepia() saturate(10000%) hue-rotate(70deg);
}

.DihorOtok_Main{
  filter:sepia() saturate(10000%) brightness(40%) hue-rotate(350deg);
}*/

.playerTag{
  cursor:pointer;
}

.base{
  fill:darkgrey;
  stroke:red;
  stroke-width:4;
  r:13;
}
.pattern{
  r:11;
}
.playerNameGroup{
  display:none;
}
.health{
  transform: rotate(-90deg);
  fill: none;
  stroke:lightgreen;
  stroke-dasharray: 82;
  stroke-width: 4;
  r: 13;
}
.name{
  fill: #fff;
}
.teamId{
  fill: #fff;
}
.dead{
  opacity:0.5;
}
.dead .name{
  fill:gray;
}
.deadNone{
  display:none;
}
.hidden{
  display:none;
}
.hiddenS{
  display:none;
}
.selected .base{
  fill:#f79330;
}
.selectedTeam .base{
  fill:#ffed5b;
}

/*.selected circle{
  fill: #f79330;
  r: 14000px;
  z-index:3;
}
.selected text {
  fill: #fff;
  font-size: 20000px;
  text-anchor: middle;
  alignment-baseline: middle;
  transform: translate(0, 2400px);

}

.selectedTeam circle{
  fill: #aaab1c;
  r: 14000px;
  z-index:2;
}
.selectedTeam text {
  fill: #fff;
  font-size: 20000px;
  text-anchor: middle;
  alignment-baseline: middle;
  transform: translate(0, 2400px);
}*/

/*.dead circle{
  fill: red;
  r: 10000px;
}

.dead text{
  fill: white;
}*/

.playerTrail{
  fill: none;
  stroke: white;
}

.redZone{
  stroke:red;
  fill:none;
}

.whiteZone{
  stroke:white;
  fill:none;
}

.blueZone{
  stroke:blue;
  fill:none;
}

.scoreboardRow{
  height:60pt;
  border:1pt solid black;
  text-align:center;
}

.teamId{
  float:left;
  height:60pt;
  line-height:60pt;
  width:50pt;
}

.rank{
  float:left;
  height:60pt;
  line-height:60pt;
  width:50pt;
}


.playerName{
  width:150pt;
  text-align:left;
}
.player{
  width:100%;
  height:15pt;
}
.player div{
  float:left;
}
.playerStats{
  width:50pt;
}

.squad {
  float:left;
  height:60pt;
}

.playerSummary:hover{
  box-shadow:1px 1px 5px 3px #888;
}

.playerSummary{
  box-shadow:1px 1px 5px 1px;
}

.activeButton{
  background-color:lightgray;
}

.weaponStats{
  border:1px solid black;
}

/*-------------------*/

/*--- Update bootstrap ---*/
.btn-info{
  color: #000;
  background-color: #bbb;/*#80c4c2;*/
  /*background-image: linear-gradient(to top, #55bab6, #4a706f);*/
  border-color: #4a706f;
}

.btn-info:hover{
  color: #fff;
  background-color: #80c4c2;
  background-image: linear-gradient(to top, #4a706f, #55bab6);
  border-color: #4a706f;
  /*box-shadow: 0 0 0 1rem rgba(23, 162, 184, 0.5);*/
}

.btn-info:focus{
  box-shadow: 0 0 0 0rem rgba(23, 162, 184, 0.5);
}


.btn-primary{
  color: #fff;
  background-color: #f69e78;
  background-image: linear-gradient(to top, #f69e78, #a76c52);
  border-color: #a76c52;
}

.btn-primary:hover{
  color: #fff;
  background-color: #f69e78;
  background-image: linear-gradient(to top, #a76c52, #f69e78);
  border-color: #a76c52;
  /*box-shadow: 0 0 0 1rem rgba(23, 162, 184, 0.5);*/
}

.btn-secondary{
  color: #fff;
  background-color: #c4c4c4;
  /*background-image: linear-gradient(to top right, #c4c4c4, #535150);*/
  border-color: #a76c52;
}

.btn-primary.focus {
  box-shadow: 0 0 0 0rem rgba(23, 162, 184, 0.5);
}

.btn-danger {
  color: #fff;
  background-color: #c39b9f;
  /*background-image: linear-gradient(to top right, #ec838d, #8e5056);*/
  border-color: #8e5056;
}

.btn-danger:focus, .btn-danger.focus {
  box-shadow: 0 0 0 0rem rgba(220, 53, 69, 0.5);
}

.table th,
.table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.headerText h1{
  color:#fff;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 0rem;
  padding-bottom: 0rem;
  background-color: transparent;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 0px solid #dee2e6;
}

/*-------------------*/

